jaxbTestClass/hola.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Biblioteca">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Pelicula" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Titulo"/>
              <xs:element type="xs:string" name="Director"/>
              <xs:element type="xs:string" name="Genero"/>
              <xs:element type="xs:string" name="FechaLanzamiento"/>
              <xs:element type="xs:string" name="Duracion"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>